
/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@700&family=Share+Tech+Mono&display=swap');

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #E7FBFF;
}

h1 {
    text-align: center;
    font-family: 'Kode Mono', monospace;
    font-size: 36px;
    font-weight: 700;
    margin: 32px 0;
}

.paldex {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 24px;
    justify-content: space-evenly;
    padding: 0px 10px;
    margin: 0px;
}

.card {
    width: 320px;
    height: 300px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #F0FDFF;
    overflow: hidden;
}

.head-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0px;
}

.container-numero {
    width: 60px;
    height: 40px;
    background: #064557;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 20px 0px;
}

.container-numero > h2 {
    color: #F0FDFF;
}

h2 {
    height: 20px;
    color: #1C2E32;
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    margin: 0px;
    text-align: center;
}

.nome {
    flex: 1;
}

.tipos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0px;
    margin-right: 8px;
}

.tipos img {
    width: 24px;
    height: 24px;
}

.body-card {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.aptidoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.aptidao {
    width: 60px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.aptidao > img {
    width: 20px;
    height: 20px;
}

.body-card > img {
    width: 260px;
    height: 260px;
    object-fit: contain;
}
