<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title}">Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container">

        <img class="logo" th:src="@{/images/palworld-logo.png}" alt="Logo">

        <h2 th:text="#{welcome.message}">Bem-vindo</h2>

        <div th:if="${#lists.isEmpty(items)}">
            <p th:text="#{list.empty}">A lista ainda não tem itens</p>
        </div>

        <table th:unless="${#lists.isEmpty(items)}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th th:text="#{table.name}">Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                </tr>
            </tbody>
        </table>

        <div class="languages">
            <a href="/?lang=pt_BR">PT</a> |
            <a href="/?lang=en">EN</a> |
            <a href="/?lang=es">ES</a>
        </div>

    </div>

    <script th:src="@{/js/home.js}"></script>

</body>

</html>